name: build-and-deploy-dev

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:


concurrency:
  group: deploy-dev
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write # TODO: switch to OIDC role-to-assume later

env:
  AWS_REGION: eu-west-1
  BACKEND_REGION: us-east-2
  ENVIRONMENT: development
  TF_IN_AUTOMATION: "1"
  TF_PLUGIN_CACHE_DIR: ~/.terraform.d/plugin-cache

jobs:
  build_test:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tag.outputs.tag }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: gradle

      - name: Build and test
        run: ./gradlew --no-daemon clean test

      - name: Summarize tests results
        uses: jeantessier/test-summary-action@v1
        if: ${{ always() }}

      - name: Compute image tag
        id: tag
        run: |
          set -euo pipefail
          TAG="$(./gradlew -q printVersion | tr -d '\r\n')"
          echo "tag=$TAG"

#TODO add ecr login
#TODO add read ecr url's from terraform
#TODO build and push docker images
#TODO add terraform apply